@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
:root{
  --text-font: 'Josefin Sans', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 70px;
  background: -webkit-linear-gradient(to right, #78aec1, #fff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#78aec1, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* overflow: hidden; */
  cursor: context-menu;

}
.header-img{
  height: 100vh;
  display: grid;
  margin-inline: auto;
  align-items: center;
  justify-items: center;
  grid-template-columns: 25% 75%;
  width: 70%;
}
#img{
  height: 500px;
}
#img>img{
  height: 100%;
  width: 550px;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  padding-left: 2%;
  width: 500px;
  cursor: pointer;
  gap: 50%;
}
.project-name{
  padding-left: 18px;
   height: 100px;
   margin-top: 20px;
}
.project-name>span{
  display: inline-block;
  font-size: 4rem;
  font-family: var(--text-font);
  font-weight: 800;
  color:#3A1C71 ;
  transition: font-size ease-in 90ms;
  text-transform: lowercase;
}
.project-name>span:hover{
  font-size: 5rem;
  text-transform: uppercase;
}


/* To do form */
#workspace{
  height: 55vh;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgb(130 130 162 / 43%);
  border-radius: 12px;
  border: 1px solid rgb(0 0 0 / 30%);
  width: 90%;
  margin-inline: auto;
}
#todo_form{
  font-family: var(--text-font);
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 800;
}
#todo_form>p{
  margin-top: 30px;
}
#p1>label{
  padding-left: 0.5%;
}
#p1>textarea{
  height: 80px;
  width: 100%;
  font-family: var(--text-font);
  font-size: large;
  font-weight: 800;
  background-color: #e7f0f4;
  border: transparent;
  padding-top: 0.5%;
  padding-left: 0.5%;

}
#p2{
  display: flex;
  justify-content: space-between;
}

#p2>span{
  padding-left: 0.5%;
}
#p2>span>select{
  height: 30px;
  width: 110px;
  background-color: #e7f0f4;
  font-size: medium;
  font-family: var(--text-font);
  border: #78aec1;
  cursor: pointer;
}
#p2>span>input{
  height: 30px;
  width: 150px;
  background-color: #e7f0f4;
  font-size: medium;
  margin-left: 0.5%;
  border: #60c2e6;
  font-family: var(--text-font);
  cursor: pointer;
}
#p3{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}#p3 img{
  height: 10px;
  width: 10px;
}
#add_task{
  height: 50px;
  width: 70px;
  font-family: var(--text-font);
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
  transition: transform ease-in-out 100ms;
}
#add_task:hover{
  transform: scale(1.1);
}
#add_task{
  backdrop-filter: blur(6px) saturate(0%);
    -webkit-backdrop-filter: blur(6px) saturate(0%);
    background-color: rgb(89 151 159 / 52%);
    border-radius: 12px;
    border: 1px solid rgb(8 105 250 / 30%);

}

.data-input{
  height: 20px;
  width: 20px;
  margin-left: .5%;
}

.task-list{
  text-align: center;
  margin-top: 10px;
  height: 60px;
  font-family: var(--text-font);
  font-size: 2rem;

}
.task-list>span{
  text-transform: lowercase;
  transition: font-size ease-in 50ms;
}
.task-list>span:hover{
  font-size: 3rem;
  text-transform: uppercase;
}

#container{
  display: grid;
  grid-template-columns: 4fr 0.25fr;
  gap: 3em;
  padding: 20px 1%;
  font-family: var(--text-font);
  font-weight: 800;
  font-style: 'Josefin Sans', sans-serif;
  font-size: large;
  width: 90%;
  margin-inline: auto;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgb(130 130 162 / 43%);
  border-radius: 12px;
  border: 1px solid rgb(0 0 0 / 30%);
}
.content{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.identity,.d-date{
  text-align: center;
}


/* Responsiveness */